<div class="category-wrapper">
    <div *ngIf="isLoading" class="overlayloader">
        <div class="loader"></div>
    </div>
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isPageLoading">
        <div class="is-loading"><i class="page-loader"></i></div>
    </div>
    <!-- loading section ends  -->
    <ngx-flash-messages></ngx-flash-messages>
    <div class="card" *ngIf="!isPageLoading">
        <div class="card-header">
            <strong>{{Coins_packageId ? 'Edit' : 'Add'}} Coins_package </strong>
        </div>
        <form role="form" (ngSubmit)="save()" #addCoins_packageForm="ngForm">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="nf-name">Title</label>
                            <input autofocus type="text" id="title" name="title" class="form-control" #title="ngModel" [(ngModel)]="results.title" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" required>
                            <div class="error-block">
                                <small *ngIf="title.errors?.required && title.touched" class="text-danger">
                                    Title is required.
                                </small>
                                <small *ngIf="title.errors?.pattern && title.touched" class="text-danger">
                                    Invalid input.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group relative has-required">
                            <label for="nf-name">Description</label>
                            <input autofocus type="text" id="description" name="description" class="form-control" #description="ngModel" [(ngModel)]="results.description" required>
                            <div class="error-block">
                                <small *ngIf="description.errors?.required && description.touched" class="text-danger">
                                    Description is required.
                                </small>
                            </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group relative has-required">
                            <label for="nf-name">Package</label>
                            <input autofocus type="text" id="package" name="package" class="form-control" #package="ngModel" [(ngModel)]="results.package" required>
                            <div class="error-block">
                                <small *ngIf="package.errors?.required && package.touched" class="text-danger">
                                    Package is required.
                                </small>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/Coins_package/list']"> Cancel</button>
                <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addCoins_packageForm.valid">{{Coins_packageID ? 'Update' : 'Save'}}</button>
            </div>
        </form>
    </div>
    <!-- .card -->
</div>