<div>
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>
    </div>
    <!-- section ends  -->
    <div class="row" *ngIf="!isLoading">
        <div class="col-sm-12 col-md-9 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <strong>View User</strong>
                        </div>
                        <div class="col-sm-6 col-12 text-right linehght">
                            <button class="btn btn-secondary pull-right widthset" type="button" [routerLink]="['/users/list']">Back</button>
                        </div>
                    </div>
                </div>
                <div class="card-block userdetail">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th width="20%">User Name</th>
                                    <td data-label="User Name">{{user.username}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Full Name</th>
                                    <td data-label="Full Name">{{user.full_name}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Total Followers</th>
                                    <td data-label="Total Followers">{{user.followed_by_count}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Total Media</th>
                                    <td data-label="Total Media">{{user.media_count}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Activated on</th>
                                    <td data-label="Activated on">{{user.created_at | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
